<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>스포츠</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="naver-site-verification" content="336a6ef09465b4b3eafd738c8b66232cb8a9b27b"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Chrome">
    <meta name="viewport" content=" width=1030, user-scalable=yes">
    <meta name="description" content="WHOTicket">
    <link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.1.css}">
    <link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/nanumgothic.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <!--[if lt IE 9]>
    <script src="/Skin/js/html5shiv.min.js"></script>
    <script src="/Skin/js/respond.min.js"></script>
    <script src="/Skin/js/selectivizr-min.js"></script>
    <![endif]-->
    <script th:src="@{/js/jquery-1.11.3.min.js}" charset="utf8"></script>
    <script th:src="@{/js/jquery.form.min.js}" charset="utf8"></script>
    <script th:src="@{/js/jquery-ui.min.js}" charset="utf8"></script>
    <script th:src="@{/js/common.js} " charset="utf8"></script>
    <script th:src="@{/js/contents.js}" charset="utf8"></script>
    <script th:src="@{/js/admin.js}" charset="utf8"></script>
    <script th:src="@{/js/admin.extend.js}" charset="utf8"></script>
    <script th:src="@{/js/board.js} " charset="utf8"></script>
</head>
<style>
    /* 코딩한 body에 추가 */
    body {
        padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
        padding-top: env(safe-area-inset-top); /* iOS 11.2 */
        color:black;
    }
    form {
        margin:0;
        display:inline;
        height:20px;
        float:none;
    }
    img {
        width: auto;
        height: auto;
        max-width: 30%;
    }
</style>
<body>
<div id="wrap">
    <div th:insert="common/adminHeader.html" id="header"></div>
    <div id="container">
        <div id="containerWrap">
            <h2 th:text="${sportsDto.title}"></h2>

            <div class="contents">
                <table class="write">
                    <tbody>
                    <tr>
                        <th>분류</th>
                        <td><p th:text="${sportsDto.category}"></p></td>
                    </tr>
                    <tr>
                        <th>날짜</th>
                        <td><p th:inline="text">[[${#temporals.format(sportsDto.dateTime, 'yyyy-MM-dd HH:mm')}]]</p></td>
                    </tr>
                    <tr>
                        <th>도시</th>
                        <td><p th:text="${sportsDto.city}"></p></td>
                    </tr>
                    <tr>
                        <th>장소</th>
                        <td><p th:text="${sportsDto.location}"></p></td>
                    </tr>
                    <tr>
                        <th>티켓 오픈</th>
                        <td><p th:inline="text">[[${#temporals.format(sportsDto.ticketOpen, 'yyyy-MM-dd HH:mm')}]]</p></td>
                    </tr>
                    <tr>
                        <th>티켓 클로즈</th>
                        <td><p th:inline="text">[[${#temporals.format(sportsDto.ticketClose, 'yyyy-MM-dd HH:mm')}]]</p></td>
                    </tr>
                    <tr>
                        <th>티켓 제한</th>
                        <td><p th:text="${sportsDto.ticketMax}"></p></td>
                    </tr>
                    <tr>
                        <th>팀1</th>
                        <td><p th:text="${sportsDto.team1}"></p></td>
                    </tr>
                    <tr>
                        <th>팀2</th>
                        <td><p th:text="${sportsDto.team2}"></p></td>
                    </tr>
                    <tr>
                        <th>이미지</th>
                        <td>
                            <!--                            <img src="http://C:/Users/ellen/git/WHO-project2/files/0fbd2278ffc4b9cac260a538234ea853/sheffieldfc.png">-->
                            <div th:if="${sportsDto.fileId != null}">
                                <a class="card-text" th:href="@{'/download/' + ${sportsDto.fileId}}" th:text="${fileDto.fileName}"></a>
                                <br>
                                <img th:src="@{'/images/'+${fileDto.fileName}}">

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="bottomBtn" style="width: 1120px; margin: 0 auto;">
                <form id="delete-form" th:action="@{'/admin/sports/post/' + ${sportsDto.id}}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button id="delete-btn" class="mBtn btn2">삭제</button>
                </form>
                <a th:href="@{'/admin/sports/post/edit/' + ${sportsDto.id}}" class="mBtn btn2">수정</a>
                <a th:href="@{/admin/sports}" class="mBtn btn2">리스트</a>
            </div>
<!--            <div class="BoardView">-->
<!--                <header>-->
<!--                    <div>-->
<!--                        <b th:text="${sportsDto.title}"></b></div>-->
<!--                    <ul>-->
<!--                        <li class="mname"><b>분류</b> : <b th:text="${sportsDto.category}"></b></li>-->
<!--                        <li><p th:inline="text">작성일 : [[${#temporals.format(sportsDto.dateTime, 'yyyy-MM-dd HH:mm')}]]</p></li>-->

<!--                    </ul>-->
<!--                    <p th:inline="text">작성일 : [[${#temporals.format(sportsDto.dateTime, 'yyyy-MM-dd HH:mm')}]]</p>-->

<!--                </header>-->
<!--                <div class="contents">-->
<!--&lt;!&ndash;                    <p th:text="${sports.content}"></p>&ndash;&gt;-->
<!--                    <p th:inline="text">작성일 : [[${#temporals.format(sportsDto.dateTime, 'yyyy-MM-dd HH:mm')}]]</p>-->
<!--                    <div class="bottomBtn" style="width: 1120px; margin: 0 auto;">-->
<!--                        <form id="delete-form" th:action="@{'/admin/sports/post/' + ${sportsDto.id}}" method="post">-->
<!--                            <input type="hidden" name="_method" value="delete"/>-->
<!--                            <button id="delete-btn" class="mBtn btn2">삭제</button>-->
<!--                        </form>-->

<!--                        <a th:href="@{'/admin/sports/post/edit/' + ${sportsDto.id}}" class="mBtn btn2">수정</a>-->
<!--                        <a th:href="@{/admin/sports}" class="mBtn btn2">리스트</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div id="deleteForm" class="hidden boardPassword modalConfirm">-->
<!--                <form id="delForm" name="delForm" method="post" action="/BHAdm/FAQ/Delete/2LKca3?searchType=snc">-->
<!--                    <p>정말 삭제하시겠습니까?</p>-->
<!--                    <div class="sPopBtns">-->
<!--                        <button type="submit" class="sBtn btn2">삭제하기</button>-->
<!--                        <button type="reset" class="sBtn btn2">취소</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div id="removeForm" class="hidden boardPassword modalConfirm">-->
<!--                <form id="remForm" name="remForm" method="post" action="/BHAdm/FAQ/Remove/2LKca3?searchType=snc">-->
<!--                    <p>정말 완전히 삭제하시겠습니까?</p>-->
<!--                    <div class="sPopBtns">-->
<!--                        <button type="submit" class="sBtn btn2">완전삭제</button>-->
<!--                        <button type="reset" class="sBtn btn2">취소</button>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
            <script>
                App.Admin.BoardViewInit();
            </script>
    </div><footer id="footer">
    <div id="footer_wrap"></div>
</footer>
</div>
<!-- 변수 셋팅 -->
<script th:inline="javascript">
    /*<![CDATA[*/
    var sportsDto = /*[[${sportsDto}]]*/ "";
    /*]]>*/
</script>

<!-- script -->
<!--<script th:inline="javascript" th:src="@{/js/faq.js}"></script>-->
<script>
    $(document).ready(function(){
        if(JCM.getCookie('managerSideView') == 'no'){
            $('#wrap').addClass('sideHidden');
        }
        $('#containerWrap').append('<aside id="sideMenu"><a href="#" id="sideClose" title="닫기"><i class="fa fa-angle-left"></i></a><h2>' + ( $('#tnb ul > li.Active').length ? $('#tnb ul > li.Active a').eq(0).text() : '' ) + '</h2><ul>'+( $('#tnb ul > li.Active ol').length ? $('#tnb ul > li.Active ol').html() : '' ) +'</ul></aside>')
        $(document).on('click', '#sideClose', function(e){
            e.preventDefault();
            if($('#wrap').hasClass('sideHidden')){
                $('#wrap').removeClass('sideHidden');
                JCM.setCookie('managerSideView', 'yes');
            }else{
                $('#wrap').addClass('sideHidden');
                JCM.setCookie('managerSideView', 'no');
            }
        });
        $('#container').scroll(function(){
            sideScroll();
        });
        sideScroll();
    });
    function sideScroll(){
        var st = $('#container').scrollTop();
        if(st < 0) st = 0;
        $('#sideMenu').css({
            'padding-top' : st + 'px'
        });
        $('#sideClose').css({
            'top' : (st + 10) + 'px'
        });
    }
</script>
</body>
</html>