<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<header>
    <div id="header_wrap">
        <h1><a th:href="@{/admin}"><span>ADMINISTRATOR</span></a></h1>
        <nav id="gnb">
            <ul>
                <li class="home"><a th:href="@{/}" target="_blank">홈으로</a></li>
                <li class="logout"><a th:href="@{/logout/result}">로그아웃</a></li>
            </ul>
        </nav>
        <nav id="tnb">
            <ul>
                <li><span><a th:href="@{/admin/goods/Goods}">상품관리</a></span>
                    <ol>
                        <li><span><a th:href="@{/admin/performance}">공연</a></span></li>
                        <li><span><a th:href="@{/admin/sports}">스포츠</a></span></li>
                    </ol>
                </li>
                <li><span><a th:href="@{/admin/order/Order}">주문관리</a></span>
                    <ol>
                        <li><span><a th:href="@{/admin/order/Order}">전체주문</a></span></li>
                        <li><span><a href="/BHAdm/Mall/Order30">결제완료</a></span></li>
                        <li><span><a href="/BHAdm/Mall/Order-20">반품신청</a></span></li>
                        <li><span><a href="/BHAdm/Mall/Order-120">반품완료</a></span></li>
                    </ol>
                </li>
                <li><span><a th:href="@{/admin/member}">회원관리</a></span></li>

                <li><span><a th:href="@{/admin/faq}">게시판관리</a></span>
                    <ol>
                        <li><span><a th:href="@{/admin/faq}">FAQ</a></span></li>
                        <li><span><a th:href="@{/admin/notice}">공지사항</a></span></li>
                    </ol>
                </li>
            </ul>
        </nav>
    </div>
</header>