<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
 
 <style>
 .input-group .form-control, .input-group-addon, .input-group-btn{
 display: revert;
 }
 .btn{
 font-size: 14px; 
 visibility: inherit;
 }
 
 </style>
 
<!--  <style> -->
<!-- /* /* button{ */ */ -->
<!-- /* /*    color: #fff; */ */ -->
<!-- /* /*     background-color: #0a9772; */ */ -->
<!-- /* /*     border-color: #0a9772; */ */ -->
<!-- /* /* } */ */ -->
<!--  </style> -->
<header>

    <nav class="navbar navbar-default navbar-fixed-top">
    <form style="padding-right: 100px;float: right;padding-top: 20px;">
            <div class="input-group" >
                <input type="text" class="form-control" size="10" placeholder="WHO-ticket:검색" required style="width: 170px;">
                <div class="input-group-btn">
                <i class="fa fa-search"></i>
                    <button type="submit" class="btn">
                    <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
            
        </form>
        <div class="container" style="margin: 0px auto">
            <div class="navbar-header"style="
    margin-bottom: 9px;
">
                <a class="navbar-brand" href="/">
                   <img th:src="@{/image/logo.png}" style="width: 55px;position: absolute;">
                </a>
                 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"
                 aria-expanded="false" style="
    position: absolute;
    right: 1px;
    top: 10px;
">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <div class="collapse navbar-collapse" id="myNavbar" style="padding-right: 290px;margin-bottom: 3px;padding-top: 10px;margin-right: -100px;margin-left: 0px;">
                <ul class="nav navbar-nav navbar-right">
                   <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">관리자</a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/login}">로그인</a></li>
                    <li><a sec:authorize="isAnonymous()" th:href="@{/signup}">회원가입</a></li>
                    <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">공연
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/musical}">뮤지컬</a></li>
                                <li><a th:href="@{/concert}">콘서트</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">스포츠
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/soccer}">축구</a></li>
                            <li><a th:href="@{/baseball}">야구</a></li>
                        </ul>
                    </li>
                    <li><a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/myinfo}">마이티켓</a></li>
                    <li><a th:href="@{/faq}">FAQ</a></li>
                    <li><a th:href="@{/notice}">공지사항</a></li>
                    
                    
                </ul>
                
            </div>
            
        </div>
    </nav>   
</header>