<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img th:src="@{/image/logo.png}" height="35px" />
                    </a>
                </div>
                <form style="padding-top: 15px;">
                    <div class="input-group">
                        <input type="text" class="form-control" size="20" placeholder="Event, Aritst or Team" required />
                        <div class="input-group-btn">
                            <button type="submit" class="btn" style="background: darkcyan; color: #fff;">Search</button>
                        </div>
                    </div>
                </form>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}">ADMIN</a></li>
                        <li><a sec:authorize="isAnonymous()" th:href="@{/login}">SIGN IN</a></li>
                        <li><a sec:authorize="isAnonymous()" th:href="@{/signup}">SIGN UP</a></li>
                        <li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a></li>
                        <li class="dropdown">
                            <a class="dropdown" data-toggle="dropdown" href="#">PERFORMANCE <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="musical">MUSICAL</a></li>
                                <li><a href="theater">THEATER</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">SPORTS <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a th:href="@{/soccer}">SOCCER</a></li>
                                <li><a href="#">BASEBALL</a></li>
                            </ul>
                        </li>
                        <li><a sec:authorize="hasRole('ROLE_MEMBER')" th:href="@{/myinfo}">MY Tickets</a></li>
                        <li><a th:href="@{/faq}">FAQ</a></li>
                        <li><a th:href="@{/notice}">NOTICE</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</html>
