<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="naver-site-verification" content="336a6ef09465b4b3eafd738c8b66232cb8a9b27b"/>
<meta http-equiv="X-UA-Compatible" content="IE=Chrome">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="WHOTicket">
	<link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.1.css}">
	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/nanumgothic.css}">
<!-- 	<link rel="stylesheet" th:href="@{/css/admin.css}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/faq.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<a th:insert="common/header.html"></a> 
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>



<body style="position:absolute; left:45%;  top:45%;">
<img src="/image/logo.png" width="80px" align ="middle">
<table border="1" summary="">
                    <caption>티켓 상세 보기</caption>
                    <tbody>
                        <!-- 참고 : 뉴상품관리 전용 변수가 포함되어 있습니다. 뉴상품관리 이외의 곳에서 사용하면 일부 변수가 정상동작하지 않을 수 있습니다. -->
                        <tr module="product_addoption">
                            <th scope="row">C구역 </th>
                            <td>
                                <span class="inputWrap">C구역 - 110000원</span>
                               
                            </td>
                        </tr>
                        <tr module="product_option">
                            <th scope="row">갯수</th>
                            <td>
                             <div class="qty">					
        <div class="plus"><a href="javascript:change_qty2('p')"><img src="/images/+.png" alt="+" style="width:30px"></a></div>
        <input type="text" name="ct_qty" id="ct_qty" value="1" readonly="readonly">
        <div class="minus"><a href="javascript:change_qty2('m')"><img src="/images/-.png" alt="-"style="width:30px"></a></div>
      </div>	
                            
                            
                            </td>
                        </tr>
                       
                        <tr module="product_fileoption">
                            <th scope="row">총금액</th>
                            <td class="fileInfo">
                               	WHO TICKET 구매 진행중입니다.
                                <ul class="infoDesc">
                                    <li> <dt>총 금액</dt>
                                          <dd id="total_amount">60,000</dd></li>
                                    <li><button> 구매 하기</button></li>
                                </ul>
                            </td>
                        </tr><!-- //참고 -->
                    </tbody>
                </table>
                <script type="text/javascript">
Number.prototype.format = function(){ 
	if(this==0) return 0; 
	var reg = /(^[+-]?\d+)(\d{3})/; 
	var n = (this + ''); 
	while (reg.test(n)) n = n.replace(reg, '$1' + ',' + '$2'); 
	return n; 
	}; 
	
	String.prototype.format = function(){ 
		var num = parseFloat(this); 
		if( isNaN(num) ) return "0"; 
		return num.format(); 
		}; 
		
	var basic_amount = parseInt('110000'); 
	function change_qty2(t){ 
		//var min_qty = '수량버튼'*1; 
		var min_qty = 1; 
		var this_qty = $("#ct_qty").val()*1; 
		var max_qty = '200'; 
		// 현재 재고 
		if(t=="m"){ 
			this_qty -= 1; 
			if(this_qty<min_qty){ 
				//alert("최소구매수량 이상만 구매할 수 있습니다."); 
				alert("수량은 1개 이상 입력해 주십시오."); 
				return; 
				} 
			} 
		else if(t=="p"){ 
			this_qty += 1; 
			if(this_qty>max_qty){ 
				alert("죄송합니다.다른 선택을 해주세요"); 
				return; 
				} 
			} 
		var show_total_amount = basic_amount * this_qty; 
		//$("#ct_qty_txt").text(this_qty); 
		$("#ct_qty").val(this_qty); 
		$("#it_pay").val(show_total_amount); 
		$("#total_amount").html(show_total_amount.format()); 
	}
</script>
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>