<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>WHO TICKET product</title>

</head>

<body>
     	<div module="Product_menupackage">
    <!--@css(/css/module/product/menupackage.css)-->
    <div class="path" module="product_headcategory">
        <span>현재 위치</span>
        <ol>
            <li><a href="/">홈</a></li>
            <li class="#"><strong><a href="/">{$구역 A}</a></strong></li>
            <li class="#"><strong><a href="/">{$구역 B}</a></strong></li>
            <li class="#"><strong><a href="/">{$구역 C}</a></strong></li>
            <li class="#"><strong><a href="/http://localhost:8090/notice">{$구역 D}</a></strong></li>
        </ol>
    </div>
    <div class="title" module="product_headcategory">
        <p class="banner">{이미지 1}{$top_image2_tag}{$top_image3_tag}</p>
        <h2><span>타이틀</span></h2>
    </div>
  
                    </div>
  
</body>

</html>