<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>WHO TICKET ADIMIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="naver-site-verification" content="336a6ef09465b4b3eafd738c8b66232cb8a9b27b">
	<meta http-equiv="X-UA-Compatible" content="IE=Chrome">
	<meta name="viewport" content=" width=1030, user-scalable=yes">
	<meta name="description" content="WHOTicket">
	<meta name="viewport" content="width=1500, user-scalable=yes">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/faq.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.1.css}">
	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/nanumgothic.css}">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
	<!--[if lt IE 9]>
	<script src="/Skin/js/html5shiv.min.js"></script>
	<script src="/Skin/js/respond.min.js"></script>
	<script src="/Skin/js/selectivizr-min.js"></script>
	<![endif]-->
	<script th:src="@{/js/jquery-1.11.3.min.js}" charset="utf8"></script>
	<script th:src="@{/js/jquery.form.min.js}" charset="utf8"></script>
	<script th:src="@{/js/jquery-ui.min.js}" charset="utf8"></script>
	<script th:src="@{/js/common.js} " charset="utf8"></script>
	<script th:src="@{/js/contents.js}" charset="utf8"></script>
	<script th:src="@{/js/admin.js}" charset="utf8"></script>
	<script th:src="@{/js/admin.extend.js}" charset="utf8"></script>
<style>
/* 코딩한 body에 추가 */
body { 
padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
padding-top: env(safe-area-inset-top); /* iOS 11.2 */ 
color:black;
}

</style>
	<style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style>
</head>
	<body>
	<div id="wrap">
		<div th:insert="common/adminHeader.html" id="header"></div>
		<div id="container">
		<div id="containerWrap">
		</div>
		</div>
		<footer id="footer">
		<div id="footer_wrap"></div>
		</footer>
		</div>
	</body>
</html>