<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>WHO TICKET ADIMIN</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="naver-site-verification" content="336a6ef09465b4b3eafd738c8b66232cb8a9b27b">
	<meta http-equiv="X-UA-Compatible" content="IE=Chrome">
	<meta name="viewport" content=" width=1030, user-scalable=yes">
	<meta name="description" content="WHOTicket">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/faq.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.1.css}">
	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/nanumgothic.css}">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
	<!--[if lt IE 9]>
	<script src="/Skin/js/html5shiv.min.js"></script>
	<script src="/Skin/js/respond.min.js"></script>
	<script src="/Skin/js/selectivizr-min.js"></script>
	<![endif]-->
	<script th:src="@{/js/jquery-1.11.3.min.js}" charset="utf8"></script>
	<script th:src="@{/js/jquery.form.min.js}" charset="utf8"></script>
	<script th:src="@{/js/jquery-ui.min.js}" charset="utf8"></script>
	<script th:src="@{/js/common.js} " charset="utf8"></script>
	<script th:src="@{/js/contents.js}" charset="utf8"></script>
	<script th:src="@{/js/admin.js}" charset="utf8"></script>
	<script th:src="@{/js/admin.extend.js}" charset="utf8"></script>
<style>
/* 코딩한 body에 추가 */
body { 
padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
padding-top: env(safe-area-inset-top); /* iOS 11.2 */ 
color:black;
}

</style><style id="__web-inspector-hide-shortcut-style__">
.__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__ *, .__web-inspector-hidebefore-shortcut__::before, .__web-inspector-hideafter-shortcut__::after
{
    visibility: hidden !important;
}
</style>
</head>
	<body>
		<div id="wrap">
		<header id="header">
		<div id="header_wrap">
		<h1><a th:href="@{/admin}"><span>ADMINISTRATOR</span></a></h1>
		<nav id="gnb">
		<ul>
		<li class="home"><a th:href="@{/}" target="_blank">홈으로</a></li>
		<li class="logout"><a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a></li>
		</ul>
		</nav>
		<nav id="tnb">
		<ul>
		<!-- <li><span><a href="/BHAdm/Config">사이트관리</a></span><ol>
		<li><span><a href="/BHAdm/Config">환경설정</a></span></li>
		<li><span><a href="/BHAdm/Config/Area">지점별 환경설정</a></span></li>
		<li><span><a href="/BHAdm/BannerManager">배너관리</a></span></li>
		<li><span><a href="/BHAdm/PopupManager">팝업관리</a></span></li>
		<li><span><a href="/BHAdm/MPopupManager">모바일 팝업관리</a></span></li>
		<li><span><a href="/BHAdm/AlramManager">알림관리</a></span></li>
		<li><span><a href="/BHAdm/Config/Terms">사이트 내용관리</a></span></li>
		<li><span><a href="/BHAdm/Config/PGTerms">PG 약관 내용관리</a></span></li>
		<li><span><a href="/BHAdm/Push">App 알림</a></span></li></ol></li> -->
		<li><span><a th:href="@{/admin/goods/Goods}">상품관리</a></span>
		<ol>
		<li><span><a th:href="@{/admin/goods/Category}">카테고리관리</a></span></li>
		<li><span><a th:href="@{/admin/goods/Goods}">상품관리</a></span></li>
		<!-- <li><span><a href="/admin/goods/UploadGoods">상품일괄등록</a></span></li> -->
		</ol>
		</li>
		<li><span><a th:href="@{/admin/order/Order}">주문관리</a></span>
		<ol>
		<li><span><a th:href="@{/admin/order/Order}">전체주문</a></span></li>
		<!-- <li><span><a href="/BHAdm/Mall/Order20">주문완료</a></span></li> -->
		<li><span><a href="/BHAdm/Mall/Order30">결제완료</a></span></li>
		<!-- <li><span><a href="/BHAdm/Mall/Order40">상품준비중</a></span></li>
		<li><span><a href="/BHAdm/Mall/Order50">발송완료</a></span></li>
		<li><span><a href="/BHAdm/Mall/Order60">배송완료</a></span></li> -->
		<li><span><a href="/BHAdm/Mall/Order-20">반품신청</a></span></li>
		<li><span><a href="/BHAdm/Mall/Order-120">반품완료</a></span></li>
		<!-- <li><span><a href="/BHAdm/Mall/Order-10">주문취소요청</a></span></li>
		<li><span><a href="/BHAdm/Mall/Order-110">주문취소완료</a></span></li>
		<li><span><a href="/BHAdm/Mall/Order-30">교환신청</a></span></li>
		<li><span><a href="/BHAdm/Mall/Order-130">교환완료</a></span></li>
		<li><span><a href="/BHAdm/Mall/Statistics">주문통계</a></span></li>
		<li><span><a href="/BHAdm/Mall/Receipt">영수증신청내역</a></span></li>-->
		</ol>
		</li>
		<!-- <li><span><a href="/BHAdm/Mall/Coupon">프로모션/쿠폰</a></span>
		<ol><li><span><a href="/BHAdm/Mall/Coupon">쿠폰관리</a></span></li>
		<li><span><a href="/BHAdm/Mall/CouponHis">쿠폰이력관리</a></span></li>
		<li><span><a href="/BHAdm/Mall/Event">이벤트관리</a></span></li></ol></li> -->
		<li><span><a th:href="@{/admin/member}">회원관리</a></span></li>
		
		<li><span><a th:href="@{/admin/faq}">게시판관리</a></span>
		<ol>
		<!--<li><span><a th:href="@{/admin/BoardManager}">게시판관리</a></span></li>
		<li><span><a href="/BHAdm/Board/Entering">입점상담</a></span></li> -->
		<li><span><a th:href="@{/admin/faq}">FAQ</a></span></li>
		<!-- <li><span><a href="/BHAdm/Board/Inquiry">1:1 문의</a></span></li>
		<li><span><a href="/BHAdm/Board/InquiryProduct">나의 문의내역</a></span></li> -->
		<li><span><a th:href="@{/admin/notice}">공지사항</a></span></li>
		<!--<li><span><a href="/BHAdm/Board/qnaboard">Q&amp;A</a></span></li>
		<li><span><a href="/BHAdm/Board/Review">상품평</a></span></li>
		<li><span><a href="/BHAdm/Board/winner">당첨자발표</a></span>-->
		</ol>
		</li>
		<!-- </li><li><span><a href="/BHAdm/Mall/StoreArea">지점관리</a></span>
		<ol><li><span><a href="/BHAdm/Mall/StoreArea">지점지역관리</a></span></li></ol>
		</li><li><span><a href="/BHAdm/DashBoard">통계/엑셀</a></span></li> -->
		</ul>
		</nav>
		</div>
		</header>
		<div id="container">
		<div id="containerWrap">
		<meta name="viewport" content="width=1500, user-scalable=yes">
		</div>
		</div>
		<footer id="footer">
		<div id="footer_wrap"></div>
		</footer>
		</div>
	</body>
</html>