<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<title>WHOTICKET ADMIN</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="naver-site-verification" content="336a6ef09465b4b3eafd738c8b66232cb8a9b27b"/>
<meta http-equiv="X-UA-Compatible" content="IE=Chrome">
<meta name="viewport" content=" width=1030, user-scalable=yes">
 <meta name="viewport" content="width=1500, user-scalable=yes">
<meta name="description" content="WHOTicket">
	<link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.1.css}">
	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/nanumgothic.css}">
	<link rel="stylesheet" th:href="@{/css/admin.css}">
<!--[if lt IE 9]>
<script src="/Skin/js/html5shiv.min.js"></script>
<script src="/Skin/js/respond.min.js"></script>
<script src="/Skin/js/selectivizr-min.js"></script>
<![endif]-->
	<script th:src="@{/js/jquery-1.11.3.min.js}" charset="utf8"></script>
	<script th:src="@{/js/jquery.form.min.js}" charset="utf8"></script>
	<script th:src="@{/js/jquery-ui.min.js}" charset="utf8"></script>
	<script th:src="@{/js/common.js} " charset="utf8"></script>
	<script th:src="@{/js/contents.js}" charset="utf8"></script>
	<script th:src="@{/js/admin.js}" charset="utf8"></script>
	<script th:src="@{/js/admin.extend.js}" charset="utf8"></script>
</head>
<style>
/* 코딩한 body에 추가 */
body { 
padding-top: constant(safe-area-inset-top); /* iOS 11.0 */
padding-top: env(safe-area-inset-top); /* iOS 11.2 */ 
color:black;
}

</style>
<body>
<div id="wrap">
	<div th:insert="common/adminHeader.html" id="header">
	</div>
<div id="container">
<div id="containerWrap" align="center">

<h2 align="center">회원관리</h2>
<div class="boardSearch" align="left" style="padding: 0 0 10px 220px">
<form id="SearchForm" name="SearchForm" method="get" action="/admin/Member/">
<!-- <label for="SearchLevel">구분</label>
<span>
<select id="SearchType" name="mtype">
<option value="">회원구분검색</option>
<option value="p">일반회원</option><option value="b">사업자회원</option><option value="s">하이웨이마트지점</option></select>
</span>
<label for="SearchLevel">등급</label>
<span>
<select id="SearchLevel" name="SLevel">
<option value="">회원등급검색</option>
<option value="1">일반회원</option><option value="18">관리자</option><option value="20">최고관리자</option></select>
</span>
<label for="SearchLevel">지점</label>
<span>
<select id="SearchLevel" name="SCode">
<option value="">회원지점검색</option>
<option value="010">홈쇼핑</option><option value="190">통복점</option><option value="180">화도점</option><option value="170">영통점</option><option value="120">일원점</option><option value="100">구의점</option><option value="090">수지성복점</option><option value="060">방배점</option><option value="040">평택점</option><option value="110">송탄지산점</option></select>
</span>
<label for="SearchPLevel">회원할인등급</label>
<span>
<select id="SearchPLevel" name="PLevel">
<option value="">회원할인등급</option>
<option value="1">일반회원</option><option value="2">유료회원</option></select>
</span> -->
<label for="Keyword">검색어</label>
<span>
<input type="text" id="Keyword" name="Keyword" value="">
</span>
<button type="submit" class="mBtn">검색</button>
</form>
</div>
<table class="list">

<colgroup>
<col style="width:5%;">
<col style="width:30%;">
<col style="width:15%;">
<col style="width:15%;">
<col style="width:10%;">
<col style="width:10%;">
</colgroup>
<thead>
<tr align="center">
	<th>번호</th>
	<th>이메일</th>
	<th>이름</th>
	<th>휴대폰번호</th>
	<th>생년월일</th>
	<th>등록일</th>
</tr>
</thead>
<!-- CONTENTS !-->
    <tr th:each="member : ${memberList}">
        <td>
            <span th:text="${member.id}"></span>
        </td>
        <td>
             <span th:text="${member.email}"></span>
        </td>
        <td>
            <span th:text="${member.name}"></span>
        </td>
        <td>
            <span th:text="${member.phone}"></span>
        </td>
        <td>
            <span th:text="${member.birthday}"></span>
        </td>
        <td>
            <span th:text="${#temporals.format(member.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
        </td>
    </tr>
</tbody>

</table>

<script>
$(document).on('change', '#SearchLevel, #SearchType, #SearchPLevel', function(){
$(this).closest('form').submit();
});
$(document).on('click', 'a.adminAuthBtn', function(e){
e.preventDefault();
JCM.getModal(this.href, {}, '권한관리', null, 800, 600);
})
</script></div>
</div>
<footer id="footer">
<div id="footer_wrap"></div>
</footer>
</div>
<script>
$(document).ready(function(){
if(JCM.getCookie('managerSideView') == 'no'){
$('#wrap').addClass('sideHidden');
}
$('#containerWrap').append('<aside id="sideMenu"><a href="#" id="sideClose" title="닫기"><i class="fa fa-angle-left"></i></a><h2>' + ( $('#tnb ul > li.Active').length ? $('#tnb ul > li.Active a').eq(0).text() : '' ) + '</h2><ul>'+( $('#tnb ul > li.Active ol').length ? $('#tnb ul > li.Active ol').html() : '' ) +'</ul></aside>')
$(document).on('click', '#sideClose', function(e){
e.preventDefault();
if($('#wrap').hasClass('sideHidden')){
$('#wrap').removeClass('sideHidden');
JCM.setCookie('managerSideView', 'yes');
}else{
$('#wrap').addClass('sideHidden');
JCM.setCookie('managerSideView', 'no');
}
});
$('#container').scroll(function(){
sideScroll();
});
sideScroll();
});
function sideScroll(){
var st = $('#container').scrollTop();
if(st < 0) st = 0;
$('#sideMenu').css({
'padding-top' : st + 'px'
});
$('#sideClose').css({
'top' : (st + 10) + 'px'
});
}
</script>
</body>
</html>