<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WHO TICKET</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!--    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>-->
</head>
<style>
   
</style>
<body>
    <!-- HEADER -->
    <div th:insert="common/header.html" id="header"></div>
    
    

    <div class="container" style="padding: 64px 0 0 0">
        <!-- 검색 form -->
        <form action="/notice/search" method="GET" class="form-search">
            <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
            <button><i class="glyphicon glyphicon-search"></i></button>
        </form>
    </div>
    <div class="container" >
        <table id="example" class="table table-cnodensed">
            <thead>
	            <tr class="header">
	                <th class="subject" style="text-align: center;">번호</th>
	                <th class="subject" style="text-align: center;">글제목</th>
	                <th class="subject" style="text-align: center;">작성자</th>
	                <th class="subject" style="text-align: center;">작성일</th>
	            </tr>
            </thead>
            <tbody>
	            <!-- CONTENTS !-->
	            <tr th:each="notice : ${noticeList}">
	                <td style="text-align: center;">
	                    <span th:text="${notice.id}"></span>
	                </td>
	                <td class="bottom" style="text-align: center;">
	                    <a th:href="@{'/post1/'+ ${notice.id}}" data-toggle="modal" data-target="#myModal">
	                        <span th:text="${notice.title}"></span>
	                    </a>
	                </td>
	                <td style="text-align: center;">
	                    <span th:text="${notice.writer}"></span>
	                </td>
	                <td style="text-align: center;">
	                    <span th:text="${#temporals.format(notice.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
	                </td>
	            </tr>  
            </tbody>
         </table>
       </div>
       <div align="center">
         <ul class="pagination">
             <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
             <li><a href="#">1</a></li>
             <li><a href="#">2</a></li>
             <li><a href="#">3</a></li>
             <li><a href="#">4</a></li>
             <li><a href="#">5</a></li>
             <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
          </ul>
        </div> 
                     	<!-- Modal --> 
						<div 
						class="modal fade" 
						id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="padding: 64px 0 0 0"> 
						        <div class="modal-dialog modal-lg"> 
						                <div class="modal-content">  
						                        <div class="modal-body">  
						                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>                        
						         <h4 class="modal-title" id="myModalLabel" align="center">상세정보</h4> 
						         <br>
						         <table>
						          <tr>
						            <th scope="row">성명 </th>
						            <td><span></span></td>
						          </tr>
						
						          </table> 
						           
                        			</div> 
                				</div>               				
                			</div>                			
                		</div>               	
               
    

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>

<script>

</script>
</body>
</html>