<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>WHO TICKET</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/faq.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/myinfo.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style></style>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>

<!-- Page Container -->

	<!-- <form th:action="@{'/get/{no}' + ${memberDto.no}}" method="get"> -->
  <!-- The Grid -->

      <!-- Left Column -->
    <div class="w3-third">

      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container" align="center">
        	<img alt="" src="/image/logo.png" width="100px">
           <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>
           <span th:text="${currentUser.name}"></span><br>WHOTicket에 오신걸 환영합니다.</b></p>
           <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>
           <span th:text="${currentUser.email}"></span></p>
        </div>

        <div class="w3-container" align="center">
          <hr>
			<form th:action="@{'/resignup/' + ${currentUser.id}}" method="get" >
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>회원 정보 수정</b></p>
          <div class="w3-light-grey w3-round-xlarge">
         		 <button type="submit">회원 정보 수정</button>
          </div>
          </form>
          <br>

			<form th:action="@{'/repass/' + ${currentUser.id}}" method="get">
          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>비밀번호 설정변경</b></p>
          <div class="w3-light-grey w3-round-xlarge">
            <button type="submit">비밀번호 설정변경</button>
          </div>
          </form>

          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    
    <div class="w3-twothird">
    	<div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>My Ticket</h2>
        <div class="w3-container" align="center">
          
          </div>
        
       

      

    <!-- End Right Column -->
    </div>
    
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>

</body>
</html>