<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="">
	<div align="center">
	<div align="center"><h1 th:text="${sportsList.title}"></h1></div>
	 <div align="center"><img th:src="@{http://localhost:8090/qrcode/}+${sportsList.title}" width="50%" height="50%" ></div>
	 <div align="center"><button type="submit" class="btn">닫기</button></div>
	</div>
</form>
</body>
</html>