<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<title>Login WHOTicket</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/image/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/loginmain.css}">
<!--===============================================================================================-->
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->

<!--===============================================================================================-->
	<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.9/sweetalert2.min.js}"></script>
	<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
</head>
<body>
	
	<!-- <div class="container-login100" style="background-image: url('image/bg-01.png');"> -->
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
			<form th:action="@{/login/result}" method="get" class="login100-form validate-form">
				<input type="hidden" name="_method" value="put"/>
    			<input type="hidden" name="id" th:value="${currentUser.id}"/>
    			
				<span class="login100-form-title p-b-37" >
					<a th:href="@{/}">
						<img th:src="@{/image/logo.png}" height="60px">
					</a><br>
					Change Password
				</span>
				<div style="color: #ac2925">
                      <div style="text-align: center;">Enter your current password</div>
                    </div><br>
                    
					<input type="hidden" id="email" class="input100" name="email" maxlength="50" th:value="${currentUser.email}" readonly>
					
				<div class="wrap-input100 validate-input m-b-20">
					<input id="currentPw" class="input100" type="password" name="currentpw" placeholder="Current Password">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-20">
					<input id="newPw" class="input100" type="password" name="newpw" placeholder="New Password">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-20">
					<input id="newPwCheck" class="input100" type="password" name="newpwcheck" placeholder="Check New Password">
					<span class="focus-input100"></span>
				</div>
				
				<br>
				<div class="container-login100-form-btn">
					<button type="button" class="login100-form-btn" id="checkPassword">
						Check
					</button>
				</div>
				<div class="text-center small mt-2" id="passwordMsg" style="color: red"></div>
				<div class="text-center small mt-2" id="newPwMsg" style="color: red"></div>

				<div class="text-center">
					<a th:href="@{/myinfo}" class="txt2 hov1">
						Cancel
					</a>
				</div>
			</form>			
		</div>
	</div>
	
	<div id="dropDownSelect1"></div>
	
	<script th:src="@{/js/main.js}"></script>
	<script th:src="@{/js/pwchange.js}"></script>
</body>
</html>