<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<title>Login WHOTicket</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" th:href="@{/image/icons/favicon.ico}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/bootstrap/css/bootstrap.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/font-awesome-4.7.0/css/font-awesome.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/fonts/iconic/css/material-design-iconic-font.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animate/animate.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/css-hamburgers/hamburgers.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/animsition/css/animsition.min.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/select2/select2.min.css}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" th:href="@{/vendor/daterangepicker/daterangepicker.css}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" th:href="@{/css/util.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/loginmain.css}">
<!--===============================================================================================-->
	<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/animsition/js/animsition.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/bootstrap/js/popper.js}"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/select2/select2.min.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/daterangepicker/moment.min.js}"></script>
	<script th:src="@{/vendor/daterangepicker/daterangepicker.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/vendor/countdowntime/countdowntime.js}"></script>
<!--===============================================================================================-->
	<script th:src="@{/js/main.js}"></script>
</head>

<body>

	<!-- <div class="container-login100" style="background-image: url('image/bg-01.png');"> -->
	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-50 p-b-30">
			<form th:action="@{'/resignup/update/' + ${currentUser.id}}" method="post" class="login100-form validate-form">
				<input type="hidden" name="_method" value="put"/>
    			<input type="hidden" name="id" th:value="${currentUser.id}"/>
    			<input type="hidden" id="password" name="password" th:value="${currentUser.password}" readonly/>
    			
				<span class="login100-form-title p-b-25" >
				<a th:href="@{/}">
						<img th:src="@{/image/logo.png}" height="60px">
					</a><br>
						회원정보 변경
				</span>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter userEmail">
					<input id="email" class="input100" type="text" name="email" maxlength="50" th:value="${currentUser.email}" readonly>
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter userName">
					<input id="name" class="input100" type="text" name="name" maxlength="20" th:value="${currentUser.name}">
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter userBirthday">
					<input id="birthday" class="input100" type="date" name="birthday" maxlength="20" th:value="${currentUser.birthday}" readonly>
					<span class="focus-input100"></span>
				</div>
				
				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter userPhone">
					<input id="phone" class="input100" type="tel" name="phone" maxlength="15" th:value="${currentUser.phone}">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">
						수정
					</button>
				</div>

				<!-- <div class="text-center p-t-57 p-b-20">
					<span class="txt1">
						Or login with
					</span>
				</div>

				<div class="flex-c p-b-50">
					<a href="javascript:;" class="login100-social-item" data-social="facebook">
						<i class="fa fa-facebook-f"></i>
					</a>

					<a href="javascript:;" class="login100-social-item" data-social="google">
						<img src="image/icons/icon-google.png" alt="GOOGLE">
					</a>
				</div>
				
				<script>
				  let socials = document.getElementsByClassName("login100-social-item");
				  for(let social of socials) {
					  social.addEventListener('click', function(){
						  let socialType = this.getAttribute('data-social');
						  location.href="/oauth2/authorization/" + socialType;
					  })
				  }
				</script> -->
				<br>
				<div class="text-center">
					<a th:href="@{/myinfo}" class="txt2 hov1">
						취소
					</a>
				</div>
			</form>			
		</div>
	</div>
	<div id="dropDownSelect1"></div>

</body>
</html>