<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/sport.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    
</head>
<body style="background-color: #dadde6;">

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-top" style="max-width:1200px;margin:auto">
   <div th:insert="common/header.html" id="header"></div>
  </div>
</div>

<!-- Top menu -->
<div class="w3-top1" style="padding: 67px 0 0 0">
  <div class="soccerbanner" style="max-width:1200px;margin:auto;">
   <img alt="" src="images/soccer.PNG" style="width:100%">
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;background-color: #dadde6;">

  <!-- First Photo Grid-->
  <form th:action="@{/soccer/ticket}">
  <div class="w3-row-padding w3-padding-16 w3-center" id="food" style="background-color: #dadde6;">
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS070.png" alt="대한민국 축구 국가대표팀" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">국가대표팀</div>
      <button class="btn_reserve" type="submit" >
        <span>예매하기</span>
      </button>
   </div>
    </div>
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS001.png" alt="전북 현대 모터스" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">전북 현대 모터스</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
   </div>
    </div>
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS003.png" alt="수원삼성블루윙즈" style="width:100%">
      <div class="clubInfoWrap">
       <div class="clubName">수원삼성블루윙즈</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
   </div>
   </div>
   <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS012.png" alt="제주유나이티드" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">제주유나이티드</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
      </div>
     </div>
    </div>
    </form>
  
  <!-- Second Photo Grid-->
  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS014.png" alt="강원 FC" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">강원 FC</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
   </div>
    </div>
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS006.png" alt="경남 FC" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">경남 FC</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
   </div>
    </div>
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS093.png" alt="성남 FC" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">성남 FC</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
   </div>
   </div>
   <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS004.png" alt="부산 아이파크" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">부산 아이파크</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
      </div>
    </div>
    </div>
    
  <div class="w3-row-padding w3-padding-16 w3-center" id="food">
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
   <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS061.png" alt="수원 FC" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">수원 FC</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
   </div>
    </div>
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS067.png" alt="부천FC 1995" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">부천FC 1995</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
   </div>
    </div>
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
    <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS098.png" alt="서울이랜드 FC" style="width:100%">
      <div class="clubInfoWrap">
       <div class="clubName">서울이랜드 FC</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
   </div>
    </div>
    <div class="w3-quarter" style="background-color: #fff;background-clip: content-box;">
     <img src="http://ticketimage.interpark.com/TicketImage/sports/web/large/PS005.png" alt="대전 하나 시티즌" style="width:100%">
      <div class="clubInfoWrap">
      <div class="clubName">대전 하나 시티즌</div>
      <button class="btn_reserve" type="button" onclick="">
        <span>예매하기</span>
      </button>
      </div>
    </div>
  </div>
  </div>

  <!-- Pagination -->
  <div class="w3-center w3-padding-32">
    <div class="w3-bar">
      <a href="#" class="w3-bar-item w3-button w3-hover-black">«</a>
      <a href="#" class="w3-bar-item w3-black w3-button">1</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">2</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">3</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">4</a>
      <a href="#" class="w3-bar-item w3-button w3-hover-black">»</a>
    </div>
  </div>
  <!-- FOOTER -->
    <div th:insert="common/footer.html" id="footer"></div>
  <hr id="about">
  



<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}
</script>


</body>
</html>