<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<title>FAQ</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="naver-site-verification" content="336a6ef09465b4b3eafd738c8b66232cb8a9b27b"/>
<meta http-equiv="X-UA-Compatible" content="IE=Chrome">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="WHOTicket">
	<link rel="stylesheet" th:href="@{/css/jquery-ui-1.10.1.css}">
	<link rel="stylesheet" th:href="@{/font-awesome/css/font-awesome.min.css}">
	<link rel="stylesheet" th:href="@{/css/nanumgothic.css}">
<!-- 	<link rel="stylesheet" th:href="@{/css/admin.css}"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/faq.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div align="center">
<a th:insert="process/image.html"></a>
<a th:href="@{/post}"></a>

<table>

</table>
<!-- 검색 form -->
<form action="/faq/search" method="GET">
    <div style="TEXT-ALIGN: center">

    <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
    </div>
    <div style="TEXT-ALIGN: center">
    <button>검색하기</button>
    </div>
</form>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>

</body>
</html>