<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WHO TICKET</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/faq.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- HEADER -->
<div th:insert="common/header.html" id="header"></div>
<div align="center">
<a th:insert="process/image.html"></a>
<a th:href="@{/post}"></a>

<table>

</table>
<!-- 검색 form -->
<form action="/faq/search" method="GET">
    <div style="TEXT-ALIGN: center">

    <input name="keyword" type="text" placeholder="검색어를 입력해주세요">
    </div>
    <div style="TEXT-ALIGN: center">
    <button>검색하기</button>
    </div>
</form>
</div>

<!-- FOOTER -->
<div th:insert="common/footer.html" id="footer"></div>
</body>
</html>