<<<<<<< HEAD
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
=======
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
>>>>>>> ebd1cc9297af551fc239848def478b953e92d21d
