@charset "utf-8";
 


#who{

	width: 650px;
  background-color : #f3f6fa;
    
   color:green;

}


#header {
width: 650px;
    text-align: center;
}

#container{
	margin-left: auto;
	margin-right: auto;
width: 650px;
	background-color : #f3f6fa;
}

#join_form{
	width: 650px;
margin-left: auto;
	margin-right: auto;

 background-color : #f3f6fa;
}