@charset "utf-8";
 
#who{
	
text-align: center;
}

#header {

	text-align: center;
	 columns:auto;
}
#headers{

	text-align: center;
	 columns:auto;
}
.terms_box {
	
	overflow: auto;
	height:150px;
}

#content{
	
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color :#ffffff;
}

#join_form{	
    
    height: 100px;   
  }
  
#article::-webkit-scrollbar {
	
    width: 200px;
    background-color: black;
  }
  
#container::-webkit-scrollbar {

    width: 150px;
    background-color: black;
  }

btnAgree{
	
	margin: 0, 0, 10px;
}

 #footer { 
 
 	position: fixed; 
 	bottom: 0; 
 	width: 10%;
 }