@charset "utf-8";
 
#who{
	
text-align: center;
}

#header {

	text-align: center;
	 columns:auto;
}
#headers{

	text-align: center;
	 columns:auto;
}

/* 레이아웃 틀 */
html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background: #f5f6f7;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
#logo {
    width: 100px;
    height: 60px;
    cursor: pointer;
}

#header {
    padding-top: 62px;
    padding-bottom: 20px;
    text-align: center;
}
.terms_box {
	
	overflow: auto;
	height:150px;
}

#content{
	
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	background-color :#ffffff;
}
#wrapper {
    position: relative;
    height: 100%;
}

#content {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
}
#join_form{	
    
    height: 100px;   
  }
  
#article::-webkit-scrollbar {
	
    width: 200px;
    background-color: black;
  }
  
#container::-webkit-scrollbar {

    width: 150px;
    background-color: black;
  }

btnAgree{
	
	margin: 0, 0, 10px;
}

 #footer { 
 
 	position: fixed; 
 	bottom: 0; 
 	width: 10%;
 }



/* 입력폼 */


h3 {
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;
}


.box {
    display: block;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
}
.box1 {
    display: block;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #81F7D8;
}


.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}
.emailcheck{
	display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}
.forward {
	color: #fff;
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #81F7D8;
    font-size: 15px;
}
.check {
	color: #fff;
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #81F7D8;
    font-size: 15px;
}
.int_mobile{
	width: 460px;
}

input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;    
}

.box.int_id {
    padding-right: 110px;
}

.box.int_pass {
    padding-right: 40px;
}

.box.int_pass_check {
    padding-right: 40px;
}

.step_url {
    position: absolute;
    top: 16px;
    right: 13px;
    font-size: 15px;
    color: #8e8e8e;
}

.pswdImg {
    width: 18px;
    height: 20px;
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -10px;
    cursor: pointer;
}

#bir_wrap {
    display: table;
    width: 100%;
}

#bir_yy {
    display: table-cell;
    width: 147px;
    
}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle;
}

#bir_dd {
    display: table-cell;
    width: 147px;
}

#bir_mm, #bir_dd {
    padding-left: 10px;
}

select {
    width: 100%;
    height: 29px;
    font-size: 15px;
    background: #fff url(https://static.nid.naver.com/images/join/pc/sel_arr_2x.gif) 100% 50% no-repeat;
    background-size: 20px 8px;
    -webkit-appearance: none;
    display: inline-block;
    text-align: start;
    border: none;
    cursor: default;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}
.btn_verify {
	display: block;
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    top: 120px;
    right: 0px;
    width: 115px;
    height: 50px;
	padding: 17px 0 17px;
}
.btn_ver{
	display: block;
	font-size: 15px;
	cursor: pointer;
	position: absolute;
	box-sizing: border-box;
    text-decoration: none;
    text-align: center;
    top: 47px;
    right: 0;
    width: 115px;
    height: 50px;
	padding: 17px 0 17px;
}
.btn_primary {
	
	color: #fff;
	border: solid 1px rgba(0,0,0,0.8);
	background-color: #81F7D8;
	margin-left: 0px;
}
.btn_pri {
	color: #fff;
	border: solid 1px rgba(0,0,0,0.8);
	background-color: #81F7D8;
	margin-left: 50px;
}


/* 에러메세지 */

.error_next_box {
    margin-top: 9px;
    font-size: 12px;
    color: red;    
    display: none;
}

#alertTxt {
    position: absolute;
    top: 19px;
    right: 38px;
    font-size: 12px;
    color: red;
    display: none;
}

/* 버튼 */

.btn_area {
    margin: 30px 0 20px;
}

.btn_defalt{
	color: #fff;
    background-color: #8e8e8e;
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: #81F7D8;
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}