<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WHO TICKET</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- HEADER -->
<!-- <div th:insert="common/header.html" id="header"></div> -->

<!-- header -->
        <div id="header">
            <a href="/" target="_blank" title="WHOTicket HOME">
            	<img th:src="@{/image/logo.png}" id="logo">
            </a>
        </div>

	<form th:action="@{/signup}" method="post">
        <!-- wrapper -->
        <div id="wrapper">

            <!-- content-->
            <div id="content">
			
                <!-- ID -->
                <div>
                    <h3 class="join_title">
                        <label for="id">EMAIL</label>
                    </h3>
                    <span class="box int_mobile">
                        <input type="email" id="email" name="email" class="emailcheck" maxlength="50" placeholder="Email" required="required"/>  
                    </span>
                    <div class="text-center small mt-2" id="checkMsg" style="color: red"></div>
                    <span class="box1 int_mobile">
                     <input class="forward" id="checkEmail" type="button" value="인증번호 전송" >
                     </span>
                    <!-- 경고메세지 출력 -->
                    
                    <br>
                      
                      <div> 
                      <h3 class="join_title">
                        <label for="id">인증번호</label>
                    </h3>
                     <span class="box int_mobile">
                        <input type="text" id="emailcheck" name="email" class="int" maxlength="50" placeholder="인증번호" required="required"/>
                     </span>
                     <div class="text-center small mt-2" id="checkMsg1" style="color: red"></div>
                     <span class="box1 int_mobile">
                        <input class="check" id="checksucess" type="button" value="인증번호 확인" >
  					 </span>
                   </div> 
                         
                    
                    <br>
                    <!-- <span class="error_next_box"></span> -->
                     
                </div>

                <!-- PW1 -->
                <div>
                    <h3 class="join_title"><label for="pswd1">PASSWORD</label></h3>
                    <span class="box int_pass">
                        <input type="password" id="pass1" name="password" class="int" maxlength="20" placeholder="Password" required="required"/>
                        <span id="alertTxt">사용불가</span>
                       <!--  <img src="m_icon_pass.png" id="pswd1_img1" class="pswdImg"> -->
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- <!-- PW2
                <div>
                    <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
                    <span class="box int_pass_check">
                        <input type="text" id="pass2" name="password" class="int" maxlength="20" placeholder="비밀번호를 재입력해주세요">
                        <img src="m_icon_check_disable.png" id="pswd2_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div> -->

                <!-- NAME -->
                <div>
                    <h3 class="join_title"><label for="name">Name</label></h3>
                    <span class="box int_name">
                        <input type="text" id="name" name="name" class="int" maxlength="20" placeholder="Name" required="required"/>
                    </span>
                    <span class="error_next_box"></span>
                </div>
                
                 <!-- BIRTH -->
                <div>
                    <h3 class="join_title"><label for="birthday">BIRTHDAY</label></h3>
                    <span class="box int_name">
                        <input type="date" id="birthday" name="birthday" class="int" maxlength="20" placeholder="Birthday" required="required"/>
                    </span>
                    <span class="error_next_box"></span>
                </div>
                
                 <!-- BIRTH -->
                <!-- <div>
                    <h3 class="join_title"><label for="name">생년월일</label></h3>
                    <span class="box int_name">
                        <input type="text" id="birthday" name="birthday" class="int" maxlength="20" placeholder="생년월일를 입력해주세요">
                    </span>
                    <span class="error_next_box"></span>
                </div> -->

                <!-- BIRTH -->
                <!--  <div>
                    <h3 class="join_title"><label for="yy">생년월일</label></h3>
                    <div id="birthday">
                        BIRTH_YY
                        <div id="bir_yy">
                            <span class="box">
                                <input type="text" id="yyyy" name="birthday" class="int" maxlength="4" placeholder="년(4자)">
                            </span>
                        </div> 
 -->
                        <!-- BIRTH_MM -->
                         <!-- <div id="bir_mm">
                            <span class="box">
                                <select id="mm" name="birthday" class="sel">
                                    <option>월</option>
                                    <option value="01">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>                                    
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </span>
                        </div>  -->

                        <!-- BIRTH_DD -->
                         <!-- <div id="bir_dd">
                            <span class="box">
                                <input type="text" id="dd" name="birthday" class="int" maxlength="2" placeholder="일">
                            </span>
                        </div> 
                    </div>
                    <span class="error_next_box"></span>    
                </div> -->

                <!-- EMAIL
                <div>
                    <h3 class="join_title"><label for="email">본인확인 이메일<span class="optional">(선택)</span></label></h3>
                    <span class="box int_email">
                        <input type="text" id="email" class="int" maxlength="100" placeholder="선택입력">
                    </span>
                    <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>    
                </div> -->

                <!-- MOBILE -->
                <div>
                    <h3 class="join_title"><label for="phoneNo">PHONE</label></h3>
                    <span class="box int_email">
                        <input type="tel" id="mobile" name="phone" class="int" maxlength="15" placeholder="Phone Number" required="required"/>
                    </span>    
                </div>


                <!-- JOIN BTN-->
                <div class="btn_area">
                   <button type="submit" id="btnJoin">Sign up</button>
                </div>

                

            </div> 
            <!-- content-->

        </div> 
        <!-- wrapper -->
        </form>
    <script src="main.js"></script>
    <script type="text/javascript">
    $('.forward').click(function () {
    	
    	$.ajax({
    		type: "GET",
    		url: "idCheck",
    		data: {
    			email: $('#email').val()
    		},
    		success: function (data) {
    			if ($.trim(data)=="YES") {
					if ($('#email').val() !=''){
						$('#checkMsg').html('<p style="color:blue">사용가능한 ID 입니다!</p>');
						$.ajax({
	                        type: "POST",
	                        url: "/sendEmail",
	                        data: {
	                        	email: $('#email').val()
	                        }
	                    })
					}
				}else {
					if ($('#email').val() != '') {
                        $('#checkMsg').html('<p style="color:red">이미 사용중인 ID 입니다. 다른 ID를 입력하세요.</p>');
                        $('#email').val('');
                        $('#email').focus();
                        
					}
				}
    		}
    	})
    });
    
    /* 이메일 인증번호 입력 후 인증 버튼 클릭 이벤트  */
    $(document).on("click", '.check', function(){
	    $.ajax({
	    beforeSend: function(){
	    loadingBarStart();
	    },
	    type:"get",
	    url:"<c:url value='/login/emailAuth.do'/>",
	    data:"str=" + $('#emailcheck').val() + "&random=" + $("#random").val(),
		    success:function(data){
			    if(data=="complete"){
			    	$('#checkMsg1').html('<p style="color:blue">인증번호 인증이 완료되었습니다.</p>');
			    }else if(data == "false"){
			    	$('#checkMsg1').html('<p style="color:red">올바르지 않은 인증번호입니다.</p>');
			    }
    		},
	    complete: function(){
	    loadingBarEnd();
	    },
	    error:function(data){
	    alert("에러가 발생했습니다.");
	    }
    });
    });
   

    
    
</script>
</body>
</html>