<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>WHO TICKET</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/signup.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<!-- HEADER -->
<!-- <div th:insert="common/header.html" id="header"></div> -->

<!-- header -->
        <div id="header">
            <a href="/" target="_blank" title="WHOTicket HOME">
            	<img th:src="@{/image/logo.png}" id="logo">
            </a>
        </div>

	<form th:action="@{/signup}" method="post">
        <!-- wrapper -->
        <div id="wrapper">

            <!-- content-->
            <div id="content">

                <!-- ID -->
                <div>
                    <h3 class="join_title">
                        <label for="id">EMAIL</label>
                    </h3>
                    <span class="box int_id">
                        <input type="text" id="email" name="email" class="int" maxlength="50" placeholder="Email">       
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- PW1 -->
                <div>
                    <h3 class="join_title"><label for="pswd1">PASSWORD</label></h3>
                    <span class="box int_pass">
                        <input type="password" id="pass1" name="password" class="int" maxlength="20" placeholder="Password">
                        <span id="alertTxt">사용불가</span>
                        <img src="m_icon_pass.png" id="pswd1_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div>

                <!-- <!-- PW2
                <div>
                    <h3 class="join_title"><label for="pswd2">비밀번호 재확인</label></h3>
                    <span class="box int_pass_check">
                        <input type="text" id="pass2" name="password" class="int" maxlength="20" placeholder="비밀번호를 재입력해주세요">
                        <img src="m_icon_check_disable.png" id="pswd2_img1" class="pswdImg">
                    </span>
                    <span class="error_next_box"></span>
                </div> -->

                <!-- NAME -->
                <div>
                    <h3 class="join_title"><label for="name">Name</label></h3>
                    <span class="box int_name">
                        <input type="text" id="name" name="name" class="int" maxlength="20" placeholder="Name">
                    </span>
                    <span class="error_next_box"></span>
                </div>
                
                 <!-- BIRTH -->
                <div>
                    <h3 class="join_title"><label for="birthday">BIRTHDAY</label></h3>
                    <span class="box int_name">
                        <input type="date" id="birthday" name="birthday" class="int" maxlength="20" placeholder="Birthday">
                    </span>
                    <span class="error_next_box"></span>
                </div>
                
                 <!-- BIRTH -->
                <!-- <div>
                    <h3 class="join_title"><label for="name">생년월일</label></h3>
                    <span class="box int_name">
                        <input type="text" id="birthday" name="birthday" class="int" maxlength="20" placeholder="생년월일를 입력해주세요">
                    </span>
                    <span class="error_next_box"></span>
                </div> -->

                <!-- BIRTH -->
                <!--  <div>
                    <h3 class="join_title"><label for="yy">생년월일</label></h3>
                    <div id="birthday">
                        BIRTH_YY
                        <div id="bir_yy">
                            <span class="box">
                                <input type="text" id="yyyy" name="birthday" class="int" maxlength="4" placeholder="년(4자)">
                            </span>
                        </div> 
 -->
                        <!-- BIRTH_MM -->
                         <!-- <div id="bir_mm">
                            <span class="box">
                                <select id="mm" name="birthday" class="sel">
                                    <option>월</option>
                                    <option value="01">1</option>
                                    <option value="02">2</option>
                                    <option value="03">3</option>
                                    <option value="04">4</option>
                                    <option value="05">5</option>
                                    <option value="06">6</option>
                                    <option value="07">7</option>
                                    <option value="08">8</option>
                                    <option value="09">9</option>                                    
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                            </span>
                        </div>  -->

                        <!-- BIRTH_DD -->
                         <!-- <div id="bir_dd">
                            <span class="box">
                                <input type="text" id="dd" name="birthday" class="int" maxlength="2" placeholder="일">
                            </span>
                        </div> 
                    </div>
                    <span class="error_next_box"></span>    
                </div> -->

                 <!-- GENDER -->
              <!--  <div>
                    <h3 class="join_title"><label for="gender">성별</label></h3>
                    <span class="box gender_code">
                        <select id="gender" class="sel">
                            <option>성별</option>
                            <option value="M">남자</option>
                            <option value="F">여자</option>
                        </select>                            
                    </span>
                    <span class="error_next_box">필수 정보입니다.</span>
                </div> -->

                <!-- EMAIL
                <div>
                    <h3 class="join_title"><label for="email">본인확인 이메일<span class="optional">(선택)</span></label></h3>
                    <span class="box int_email">
                        <input type="text" id="email" class="int" maxlength="100" placeholder="선택입력">
                    </span>
                    <span class="error_next_box">이메일 주소를 다시 확인해주세요.</span>    
                </div> -->

                <!-- MOBILE -->
                <div>
                    <h3 class="join_title"><label for="phoneNo">PHONE</label></h3>
                    <span class="box int_mobile">
                        <input type="tel" id="mobile" name="phone" class="int" maxlength="15" placeholder="Phone Number" >
                    </span>
                    <span class="error_next_box"></span>    
                </div>


                <!-- JOIN BTN-->
                <div class="btn_area">
                   <button type="submit" id="btnJoin">Sign up</button>
                </div>

                

            </div> 
            <!-- content-->

        </div> 
        <!-- wrapper -->
        </form>
    <script src="main.js"></script>
</body>
</html>